/OneDrive/Documentos/NetBeansProjects/SistemaDeInventario/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/SistemaDeInventario/build/
/OneDrive/Documentos/NetBeansProjects/SistemaDeInventario/dist/
/OneDrive/Documentos/NetBeansProjects/SentenceReorder/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/SentenceReorder/build/
/OneDrive/Documentos/NetBeansProjects/SentenceReorder/dist/
/OneDrive/Documentos/NetBeansProjects/FusiónyOrden/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/FusiónyOrden/build/
/OneDrive/Documentos/NetBeansProjects/FusiónyOrden/dist/
/OneDrive/Documentos/NetBeansProjects/Tribunacci/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/Tribunacci/build/
/OneDrive/Documentos/NetBeansProjects/Tribunacci/dist/
/OneDrive/Documentos/NetBeansProjects/SpringBoot/target/
/OneDrive/Documentos/NetBeansProjects/Vehiculo/target/
/OneDrive/Documentos/NetBeansProjects/Vehiculos/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/Vehiculos/build/
/OneDrive/Documentos/NetBeansProjects/Vehiculos/dist/
